.navbar {
  background-color: #d0d0ff;
}
th.rotated-text{
  height: 150px;
  white-space: nowrap;
  padding: 0 !important;
}
th.rotated-text > div{
  transform:
    translate(13px, 0px)
    rotate(270deg);
  width: 30px;
}
th.rotated-text > div > span {
  padding: 5px 10px;
}
.table td {
  padding: 0.3rem;
}
.diff-red{
  font-size: 0.7em;
  color: red;
  padding: 0 !important;
}
.diff-green{
  font-size: 0.7em;
  color: green;
}
tr:hover > td.diff-name-up{
  background-color: #f0f0f0;
}
.diff-name-up{
  background-color: white;
}
tr:hover > td.diff-name-down{
  background-color: #6cb46c;
}
.diff-name-down{
  background-color: lightgreen;
}
.confirmed-diff-diff-down{
  background-color: lightgreen;
}
.active-diff-down{
  background-color: lightgreen;
}
.active-diff-diff-up{
//  background-color: red;
}
.diff-diff-undefined{
//  background-color: lightblue;
}
.deaths-diff-diff-down{
  background-color: lightgreen;
}
tr:hover > td.death-rate-higher{
  background-color: #ca973b;
}
tr > td.death-rate-higher{
  background-color: orange;
}
tr:hover > td.death-rate-lower{
  background-color: #6cb46c;
}
tr > td.death-rate-lower{
  background-color: lightgreen;
}
